.container {
  display: flex !important;
  width: 1000% !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  flex-wrap: wrap !important;
}

.page {
  display: flex !important;
  flex-direction: column !important;
}
