.container {
  background-color: royalblue;
  width: 1000px;
  margin: auto auto;
}

.list-style {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-style li:last-child {
  margin-bottom: 15px;
}
