body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(83, 180, 174, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
div {
  background-color: tomato;
  border-radius: 10px;
  box-shadow: lightgrey 13px 8px;
  width: 300px;
  height: 300px;
}
